{% extends "ProyectoWebappVelezBeatriz/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="media/{{post.imagen}}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">{{post.titulo}}</span>
              </h2>
              <p class="mb-3">{{post.contenido}}
              </p>
              <p class="mb-3">Autor: {{post.autor}}</p>            
            </div>
          </div>
        </div>
      </section>
    {% endfor %}

    <section>
      <div class="bg-white text-center">
        Categorias:
            {% for post in posts %}
              {% for categoria in post.categorias.all %}
                {{categoria.nombre}}
              {% endfor %}
            {% endfor %}
      </div>
    </section>
{% endblock %}

